
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */